#map {
  width: 80%;
  border-width: medium;
  border-style: double;
}
#map-container {
  display: flex;
  height: 80%;
  margin-bottom: none;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#floating-panel {
  display: flex;
  position: absolute;
  top: 10px;
  left: 35%;
  z-index: 5;
  text-align: center;
}
.group {
  border: 1px solid #999;
  border-radius: 3px;
  margin: 5px;
  padding: 5px;
  line-height: 25px;
  background-color: white;
  font-family: 'Roboto','sans-serif';
  font-size: small;
}

#radiusNum, #intensityNum, #opacityNum {
  font-weight: 800;
}

#toggles {
  margin-left: 3%;
}


#comments {
  margin-left: 3%;
}

.year-button {
  font-size:25px;
  display: none;
}

.submissionfield{
  width: 300px;
  height: 150px;
  border: 1px solid #999999;
  padding: 5px;
}
