#map {
  width: 50%;
  border-width: medium;
  border-style: double;
}
#map-container {
  display: flex;
  height: 80%;
  margin-bottom: none;
}
html, body {
  height: 100%;
  margin-left: 2%;
  padding: 0;
  font-family: 'Helvetica Neue', sans-serif;
}

#navbar {
  padding: 2%;
}

#access {
  font-size: 20px;
  width: 150px;
}

/* BUTTONS */

button {
  background-color: white;
  color: black;
  border: 2px solid ;
  width: 250px;
}

.chosen{
  background-color: black
}

.year-button {
  font-size:25px;
  display: none;
  width: 90px;
}

h1 {
  font-size: 100px;
  letter-spacing: -1px;
  line-height: 0.9;
  text-align: left;
  margin-left: 1%;
  margin-top: 30px;
}

/* a {
  text-decoration: none;
} */
/*
h1:hover {
  color: #ff6600;
  text-decoration: none;
}

#switchy {
  display: flex;
  justify-content: flex-start;
} */

#switchy {
  display: flex;
  justify-content: flex-start;
  background-color: black;
}

#floating-panel {
  display: flex;
  position: absolute;
  top: 10px;
  left: 35%;
  z-index: 5;
  text-align: center;
}
.group {
  border: 1px solid #999;
  border-radius: 3px;
  margin: 5px;
  padding: 5px;
  line-height: 25px;
  background-color: white;
  font-family: 'Roboto','sans-serif';
  font-size: small;
}


#toggles {
  margin-left: 3%;
}


#comments {
  margin-left: 3%;
}



.explanation {
  font-size:25px;
}

.submissionfield{
  width: 300px;
  height: 150px;
  border: 1px solid #999999;
  padding: 5px;
}

h4{
  display: none;
}




/////
.light {
  background-color: #fff;
  page-width: 70em;
  primary-color: #151513;
  color: #151513;
  subtle-primary-color: #151513;
  block-background-color: #f1f3f4;
  menu-item-color: #000;
  menu-item-hover-color: #000;
  menu-item-alert-bg: #ffffff;
  menu-item-alert-shadow: #dfe1e7;
  alert-border-color: #dfe1e7;
  tertiary-color:: #727680;
}

.dark {
  background-color: #0e111d;
  color: #e3e1df;
}


/////


@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 30px;
  color: #777;
  background: #4CAF50;
} */

.container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
