#map {
  width: 50%;
  border-width: medium;
  border-style: double;
}
#map-container {
  display: flex;
  height: 80%;
  margin-bottom: none;
}
html, body {
  height: 100%;
  margin-left: 2%;
  padding: 0;
}

h1 {
  /* color: #111; */
  font-family: 'Helvetica Neue', sans-serif;
  /* font-size: 275px; */
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
}

a {
  text-decoration: none;
}

h1:hover {
  color: #ff6600;
  text-decoration: none;
}

#switchy {
  display: flex;
  justify-content: flex-start;
}

#floating-panel {
  display: flex;
  position: absolute;
  top: 10px;
  left: 35%;
  z-index: 5;
  text-align: center;
}
.group {
  border: 1px solid #999;
  border-radius: 3px;
  margin: 5px;
  padding: 5px;
  line-height: 25px;
  background-color: white;
  font-family: 'Roboto','sans-serif';
  font-size: small;
}

#radiusNum, #intensityNum, #opacityNum {
  font-weight: 800;
}

#toggles {
  margin-left: 3%;
}


#comments {
  margin-left: 3%;
}

.year-button {
  font-size:25px;
  display: none;
}

.explanation {
  font-size:25px;
}

.submissionfield{
  width: 300px;
  height: 150px;
  border: 1px solid #999999;
  padding: 5px;
}

h4{
  display: none;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

button{
  background:#1AAB8A;
  color:#fff;
  border:none;
  position:relative;
  height:60px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
button:hover{
  background:#fff;
  color:#1AAB8A;
}
button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}
button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}




/////
.light {
  background-color: #fff;
  page-width: 70em;
  primary-color: #151513;
  color: #151513;
  subtle-primary-color: #151513;
  block-background-color: #f1f3f4;
  menu-item-color: #000;
  menu-item-hover-color: #000;
  menu-item-alert-bg: #ffffff;
  menu-item-alert-shadow: #dfe1e7;
  alert-border-color: #dfe1e7;
  tertiary-color:: #727680;
}

.dark {
  background-color: #252f32;
  primary-color: #157efb;
  color: #d7cdca;
  subtle-primary-color: #151513;
  block-background-color: #323232;
  menu-item-color: #dedede;
  menu-item-hover-color: #157efb;
  menu-item-alert-bg: #151513;
  menu-item-alert-shadow: #151513;
  alert-border-color: #000;
  tertiary-color:: #727680;
}


/////




@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 30px;
  color: #777;
  background: #4CAF50;
} */

.container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
  background: #F9F9F9;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #4CAF50;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: #43A047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}
